<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="css/estilos.css"></link>
        <meta charset="utf-8"></meta>
        <script src="https://kit.fontawesome.com/5f26f367ee.js" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">        
        <title>Mercado Liebre</title>
    </head>
    <body>
        <header class="main-header">
            <div class="main-header-top-bar">
                <img src="img/logo-mercado-liebre.svg" class="logo">
                <div class="buscador">
                    <form class="formulario">
                        <input class="input" type="text" placeholder="Buscar productos, marcas"></input>
                        <button id="boton-busqueda"><i class="fas fa-search"></i></button>
                    </form>
                </div>
                <h2 class="copy-header">
                    <i class="fas fa-hand-holding-usd"></i>
                    Comprá en cuotas y sin tarjeta de crédito
                </h2>
            </div>

            <a href="#" class="hamburguer-button">
                <i class="fas fa-bars"></i>
            </a>

            <nav class="main-navbar">
                <ul class="left-navbar">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>

                <ul class="right-navbar">
                    <li><a href="#">Creá tu cuenta <i class="far fa-credit-card"></i></a></li>
                    <li><a href="#">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            
        </header>

        <main>
            <div id="banner">
                <img src="img/img-home-banner.jpg" alt="foto-banner">
            </div>
            <section class="articulos">
                <div class="descripcion-productos">
                    <img src="img/img-cafetera-moulinex.jpg" alt="foto-cafetera">
                    <div class="precio">$6.770</div>
                    <div class="descuento">40%</div>
                    <div class="nombre-producto">Cafetera Moulinex</div>
                </div>
            </section>
        </main>

        <footer>

        </footer>

    </body>

</html>