<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="/css/estilos.css"></link>
        <meta charset="utf-8"></meta>
        <script src="https://kit.fontawesome.com/5f26f367ee.js" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">     
        <title>Login</title>
    </head>
    
    <body>
        <header class="main-header">
            <div class="main-header-top-bar">
                <img src="img/logo-mercado-liebre.svg" class="logo">
                <div class="buscador">
                    <form class="formulario">
                        <input class="input" type="text" placeholder="Buscar productos, marcas"></input>
                        <button id="boton-busqueda"><i class="fas fa-search"></i></button>
                    </form>
                </div>
                <h2 class="copy-header">
                    <i class="fas fa-hand-holding-usd"></i>
                    Comprá en cuotas y sin tarjeta de crédito
                </h2>
            </div>

            <a href="#" class="hamburguer-button">
                <i class="fas fa-bars"></i>
            </a>

            <nav class="main-navbar">
                <ul class="left-navbar">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>

                <ul class="right-navbar">
                    <li><a href="#">Creá tu cuenta <i class="far fa-credit-card"></i></a></li>
                    <li><a href="#">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            
        </header>
        <main>
            <ul class="formulario">
                <form>
                    <li><a href="#"><input type="text" placeholder="Nombre de ususario"></input></i></a></li>
                    <br>
                    <li><a href="#"><input type="text" placeholder="Elegí tu contraseña"></input></i></a></li>
                    <br>
                    <li><a href="#"><button>Enviar</button></a></li>
                </form>
            </ul>
        </main>
        <footer>

        </footer>
    </body>
</html>