<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8"></meta>
        <script src="https://kit.fontawesome.com/5f26f367ee.js" crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">     
        <title>Registrate</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" >    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
        <script src="https://kit.fontawesome.com/13ecfebe84.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <header class="main-header">
            <div class="header" >
          
            <div class="logo-busqueda">
                <div class="logo-home">
                    <img  src="/img/logo-mercado-liebre.svg">
                </div>
                <form action="#" method="GET" class="search-form">
                    <input type="text" name="keywords" style="font-size: medium;" placeholder="Buscar productos, marcas y más" class="search-form-input">
                    <button type="submit" class="search-form-button"><i class="fas fa-search"></i></button>
                </form> 
                <div class="copy-header">
                    <p>Comprá en cuotas y sin tarjeta de crédito <i class="fa fa-hand-holding-usd"></i></p>
                </div>
                
            </div>
               
        
            <a href="#" class="hamburguer-button">
                <i class="fa fa-bars"></i>
            </a>
            <nav class="main-navbar">
                <ul class="navbar-left">
                    <li class="navbar-left-1"><a href="#">Ofertas</a></li>
                    <li class="navbar-left-2"><a href="#">Tiendas Oficiales</a></li>
                    <li class="navbar-left-3"><a href="#">Vender</a></li>
                    <li class="navbar-left-4"><a href="#">Ayuda</a></li>
                </ul>
                <ul class="navbar-right">
                    <li class="navbar-right-1"><a href="/register">Creá tu cuenta</a> <i class="fa fa-id-card"></i></li>
                    <li class="navbar-right-2"><a href="/login">Ingresá</a> <i class="fa fa-user-circle"></i></li>
                    <li class="navbar-right-3"><a href="#">Mis Compras</a> <i class="fa fa-shopping-basket"></i> </li>
                </ul>
            </nav>
            <br>
            </div>
        </header>
        <main>
            <form action="xxx" method="POST">
                <section class="form-registro">
                    <h1 style="font-weight: normal;text-align: center;">REGISTRATE</h1>
                    <input class="controls" type="text"style="font-size: medium;text-align: center;"  name="nombres" id="nombres" placeholder="Nombre y Apellido">
                    <input class="controls" type="text"style="font-size: medium;text-align: center;" name="usuario" id="usuario" placeholder="Nombre de usuario">
                    <input class="controls" type="email" style="font-size: medium;text-align: center;" name="correo" id="correo" placeholder="Ingrese su Email">
                    <input class="controls" type="password" style="font-size: medium;text-align: center;" name="contraseña" id="contraseña" placeholder="Ingrese su Contraseña">
                    
                    <h3 style="font-weight: normal;text-align: center;">FECHA DE NACIMIENTO</h3>
                    <input style="font-size: medium;text-align: center;" class="controls" id="date" type="date">
                    <input style="font-size: medium;text-align: center;" class="controls" type="text" name="domicilio" id="domicilio" placeholder="Domicilio">
    
                    <h3 style="font-weight: normal;text-align: center;">PERFIL</h3>
                    <div class="perfil-usuario">
                        <input class="checkbox" type="radio" id="comprador" name="comprador" value="Comprador">
                        <label for="comprador">Comprador</label><br>
                        <input class="checkbox" type="radio" id="vendedor" name="vendedor" value="Vendedor">
                        <label for="vendedor">Vendedor</label><br>
                    </div>
                    <h3 style="font-weight: normal;text-align: center;">INTERESES</h3>
                    <div class="perfil-usuario">
                        <input class="checkbox" type="checkbox" name="Electro" id="Electro" value="Electro">
                        <label for="Electro">Electro</label><br>
                        <input class="checkbox" type="checkbox" name="Moda" id="Moda" value="Moda">
                        <label for="Moda">Moda</label><br>
                        <input class="checkbox" type="checkbox" name="Hogar" id="Hogar" value="Hogar">
                        <label for="Hogar">Hogar</label><br>
                        <input class="checkbox" type="checkbox" name="Moda" id="Moda" value="Moda">
                        <label for="Moda">Juguetería</label><br>
                        <input class="checkbox" type="checkbox" name="vida sana" id="vida sana" value="vida sana">
                        <label for="vida sana">Vida Sana</label><br>
                    </div>
    
                    <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
                    <input class="botons-login" type="submit" value="Registrar">
                    <p><a href="/login">¿Ya tengo Cuenta?</a></p>
                </section>
                </form> 
        </main>
        <footer>
            <section 1 class="footerSections-1">
                <div class="iconoFooter">
                    <i class="fa fa-credit-card"></i>
                </div>
              
                <h3 class="titulo3">Pagá con efectivo</h3>
    
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    
            </section>
            <section 2 class="footerSections-2">
                <div class="iconoFooter">
                    <i class="fa fa-gift"></i>
                </div>
                <h3 class="titulo3">Envío gratis desde $2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                
            </section>
            <section 3 class="footerSections-3">
                <div class="iconoFooter">
                <i class="fa fa-shield"></i>
                </div>
                <h3 class="titulo3">Seguridad, de principio a fin</h3>
    
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                
            </section>
            <section class="copyright">
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </section>
            
    
        </footer>
    </body>
</html>